*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    color: white;
    background: #ebf2f5;
    
}

body, input, textarea, button{
    font: 600 18px Nunito, sans-serif;
}