#page-map{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

#page-map aside{

    width: 440px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%); 
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    

}

#page-map aside h2{
    font-size: 4.0rem;
    font-weight: 800;
    line-height: 4.3rem;
    margin-top: 64px;
}


#page-map aside p{
    line-height: 2.8rem;
    margin-top: 24px;
}

#page-map aside footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    line-height:2.4rem;
    bottom:10px;
}

#page-map aside footer strong{
    font-weight: 800;
}

#page-map .leaflet-container{
    z-index: 5;
}

#page-map  .link-home{
    position: absolute;

    right: 40px;
    top:40px;

    width:64px;
    height: 64px;
    background:#ffd666;
    border-radius: 20px;

    z-index: 10;

    display: flex;
    justify-content:center;
    align-items: center;

    transition: background-color 0.2s;

}

#page-map .link-home:hover{
     background:#15c3d6;
}

#page-map .link-creat{
    position: absolute;

    right: 40px;
    bottom:40px;

    width:64px;
    height: 64px;
    background: #15c3d6;
    border-radius: 20px;

    z-index: 10;

    display: flex;
    justify-content:center;
    align-items: center;

    transition: background-color 0.2s;

}

#page-map .link-creat:hover{
    background:#17d6eb;

  
}



@media (max-width: 1024px){
    
    #page-map{
        height: auto;
    }

    #page-map aside{
        height: 700px;
    }
    #page-map aside footer{ 
       
        bottom:20px;
    }
   
  
}

@media (max-width: 1024px) and (max-height: 1366px){
    #page-map{
        height: auto;
    }
    #page-map aside{
        height: 1366px;
        padding:40px
    }
}

@media (max-width: 768px){
    #page-map{
        height: auto;
    }
    #page-map aside{

        height: 700px;
        padding:40px
    }
}

@media (max-width: 768px) and (max-height: 1024px){
    #page-map{
        height: auto;
    }
    #page-map aside{
        height: 1024px;
        padding:40px
    }
}

@media (max-width: 425px){
    #page-map {
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
     
       
    }
    #page-map aside{
    
        width:100%;
        height: auto;
        padding:15px;
 
    }

    #page-map aside h2{
        margin-top: 20px;
    }

    #page-map aside p{
        margin-top: 12px;
        
    }

    #page-map .leaflet-container{
        
        height: 100% !important;
       
    }

    #page-map .mapa .leaflet-container{
        z-index: 5;
    }

    #page-map  .link-home{
        top: 12px;
        right: 12px;
        
    }

    #page-map .link-creat{
        right: 12px;
    }


    #page-map aside footer{
        color:black;
        bottom:50px;
        z-index: 10;
    }
  
}

@media (max-width: 320px){
    #page-map aside h2{
        font-size: 3.2rem;
    }
}
